<!DOCTYPE html>
<html>
  <head>
    <title>Learning Angular JS - built in filters</title>
    <link rel="stylesheet" href="foundation-5.2.2/css/foundation.min.css">
  </head>

  <body ng-app="myApp">


    <h1>orderBy:'name' and limitTo:5 </h1>
    <div ng-controller="AvengersCtrl">
      <input type="text" ng-model="searchText">
      <table>
        <tr ng-repeat="actor in avengers.cast | orderBy:'name' | limitTo:5 | filter:searchText">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
      </table>
    </div>

    <h1>orderBy: name</h1>
    <div ng-controller="AvengersCtrl">
      <table>
        <tr ng-repeat="actor in avengers.cast | orderBy:'name'">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
      </table>
    </div>

    <h1>orderBy: name reversed </h1>
    <div ng-controller="AvengersCtrl">
      <table>
        <tr ng-repeat="actor in avengers.cast | orderBy:'-name'">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
      </table>
    </div>

    <h1>limitTo: 5 </h1>
    <div ng-controller="AvengersCtrl">
      <table>
        <tr ng-repeat="actor in avengers.cast | limitTo:5">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
      </table>
    </div>

    <h1>limitTo: -5 (last five) </h1>
    <div ng-controller="AvengersCtrl">
      <table>
        <tr ng-repeat="actor in avengers.cast | limitTo:-5">
          <td>{{actor.name}}</td>
          <td>{{actor.character}}</td>
      </table>
    </div>




    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="ngFilter.js"></script>
  </body>

 </html>
